In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing, model_selection, neighbors

/home/navin/anaconda3/envs/ML-nH_-a1VO/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/home/navin/anaconda3/envs/ML-nH_-a1VO/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df = pd.read_csv("breast-cancer-wisconsin.csv")

In [4]:
df.replace("?", -99999, inplace=True)
df.drop(columns=["id"], inplace=True)

In [6]:
x = np.array(df.drop(columns=["class"]), )

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epithelial_cell_size,bare_nuclie,bland_chrom,normal_nucleoli,mitoses,class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2